.crypto-form {
    background-color: #000000;
    border: 10px solid #3f3f3f;
    box-shadow: 3px 3px 10px 5px rgb(130, 130, 130);
    color: white;
    border-radius: 8px;
    padding: 20px;
  }
  
  .converted-amount {
    background-color: #000000;
    border: 2px solid #6c8cd7;
    color: white;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
  }
